# Futre Sales Prediction

`Author:` [Syed Muhammad Ebad](https://www.kaggle.com/syedmuhammadebad)\
`Date:` 22-June-2024\
[Send me an email](mailto:mohammadebad1@hotmail.com)\
[Visit my GitHub profile](https://github.com/smebad)

## Importing Libraries

In [140]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.utils import plot_model
import warnings
warnings.filterwarnings("ignore")

## Load Data

In [141]:
# Load the training, item, item categories, shop, and test data.
sales_train_data = pd.read_csv('sales_train.csv')
items_data = pd.read_csv('items.csv')
items_categories_data = pd.read_csv('item_categories.csv')
shops_data = pd.read_csv('shops.csv')
test_data = pd.read_csv('test.csv')

In [142]:
# Displaying the first 10 rows of the sales training data
sales_train_data.head(10)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
5  10.01.2013               0       25     2564      349.00           1.0
6  02.01.2013               0       25     2565      549.00           1.0
7  04.01.2013               0       25     2572      239.00           1.0
8  11.01.2013               0       25     2572      299.00           1.0
9  03.01.2013               0       25     2573      299.00           3.0

## Feature Engineering

### Extracting Month from Date

In [143]:
# Function to split month from the date
def split_month(columns):
    words = columns.split('.')[1]
    return words

# Apply the function to extract the month
sales_train_data['Month'] = sales_train_data['date'].apply(split_month)

In [144]:
sales_train_data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Month
0,02.01.2013,0,59,22154,999.00,1.0,01
1,03.01.2013,0,25,2552,899.00,1.0,01
2,05.01.2013,0,25,2552,899.00,-1.0,01
3,06.01.2013,0,25,2554,1709.05,1.0,01
4,15.01.2013,0,25,2555,1099.00,1.0,01
...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,10
2935845,09.10.2015,33,25,7460,299.00,1.0,10
2935846,14.10.2015,33,25,7459,349.00,1.0,10
2935847,22.10.2015,33,25,7440,299.00,1.0,10
2935848,03.10.2015,33,25,7460,299.00,1.0,10

### Extract Year from Date

In [145]:
# Function to split year from the date
def split_year(columns):
    words = columns.split('.')[2]
    return words

# Usin function to extract the year
sales_train_data['Year'] = sales_train_data['date'].apply(split_year)

In [146]:
sales_train_data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Month,Year
0,02.01.2013,0,59,22154,999.00,1.0,01,2013
1,03.01.2013,0,25,2552,899.00,1.0,01,2013
2,05.01.2013,0,25,2552,899.00,-1.0,01,2013
3,06.01.2013,0,25,2554,1709.05,1.0,01,2013
4,15.01.2013,0,25,2555,1099.00,1.0,01,2013
...,...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,10,2015
2935845,09.10.2015,33,25,7460,299.00,1.0,10,2015
2935846,14.10.2015,33,25,7459,349.00,1.0,10,2015
2935847,22.10.2015,33,25,7440,299.00,1.0,10,2015
2935848,03.10.2015,33,25,7460,299.00,1.0,10,2015

In [147]:
# Add a 'Sales' column
sales_train_data['Sales'] = sales_train_data['item_cnt_day']

In [148]:
items_data

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

### Add Item Categories

In [149]:
# Create item_categories_data
items_categories_data = []
for i in sales_train_data['item_id']:
  items_categories_data.append(items_data['item_category_id'].iloc[i])

# Adding item categories to the sales training data
sales_train_data['item_categories'] = items_categories_data

In [150]:
sales_train_data.head(10)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Month,Year,Sales,item_categories
0,02.01.2013,0,59,22154,999.00,1.0,01,2013,1.0,37
1,03.01.2013,0,25,2552,899.00,1.0,01,2013,1.0,58
2,05.01.2013,0,25,2552,899.00,-1.0,01,2013,-1.0,58
3,06.01.2013,0,25,2554,1709.05,1.0,01,2013,1.0,58
4,15.01.2013,0,25,2555,1099.00,1.0,01,2013,1.0,56
5,10.01.2013,0,25,2564,349.00,1.0,01,2013,1.0,59
6,02.01.2013,0,25,2565,549.00,1.0,01,2013,1.0,56
7,04.01.2013,0,25,2572,239.00,1.0,01,2013,1.0,55
8,11.01.2013,0,25,2572,299.00,1.0,01,2013,1.0,55
9,03.01.2013,0,25,2573,299.00,3.0,01,2013,3.0,55

In [161]:
# Create a combined item_id_categories column
sales_train_data['item_id_categories']=sales_train_data['item_id'].apply(str) + '.' + sales_train_data['item_categories'].apply(str)

In [ ]:
sales_train_data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,Month,Year,Sales,item_categories,item_id_categories
0,02.01.2013,0,59,22154,999.00,1.0,01,2013,1.0,37,22154.37
1,03.01.2013,0,25,2552,899.00,1.0,01,2013,1.0,58,2552.58
2,05.01.2013,0,25,2552,899.00,-1.0,01,2013,-1.0,58,2552.58
3,06.01.2013,0,25,2554,1709.05,1.0,01,2013,1.0,58,2554.58
4,15.01.2013,0,25,2555,1099.00,1.0,01,2013,1.0,56,2555.56
...,...,...,...,...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,10,2015,1.0,55,7409.55
2935845,09.10.2015,33,25,7460,299.00,1.0,10,2015,1.0,55,7460.55
2935846,14.10.2015,33,25,7459,349.00,1.0,10,2015,1.0,55,7459.55
2935847,22.10.2015,33,25,7440,299.00,1.0,10,2015,1.0,57,7440.57
2935848,03.10.2015,33,25,7460,299.00,1.0,10,2015,1.0,55,7460.55

In [ ]:
# Filtering the data for the month of November
train_Data = sales_train_data[sales_train_data['Month']==11]

# Drop the unnecessary columns for training
training_data = sales_train_data.drop(columns=['date', 'date_block_num', 'item_price', 'Month', 'Year', 'Sales', 'item_id_categories', 'item_cnt_day'])

In [ ]:
train_target = sales_train_data['item_cnt_day']

## Model Training

In [ ]:
# Defining and compiling the model
model = Sequential()
model.add(Dense(15, activation='sigmoid', input_dim=training_data.shape[1]))
model.add(Dense(10, activation='relu'))
model.add(Flatten())
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(optimizer='adam',
              loss='mse',
               metrics=['mse', 'mae' ])

In [110]:
# Train the model
history = model.fit(training_data, train_target, epochs=100, batch_size=512, validation_split=0.2)

Epoch 1/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.5216 - mae: 0.2674 - mse: 4.5216 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 2/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.7032 - mae: 0.2530 - mse: 4.7032 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 3/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.1182 - mae: 0.2517 - mse: 4.1182 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 4/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.4817 - mae: 0.2519 - mse: 4.4817 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 5/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.0739 - mae: 0.2511 - mse: 4.0739 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 6/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.3449 - mae: 0.2532 - mse: 4.3449 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 7/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.4813 - mae: 0.2516 - mse: 4.4813 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 8/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.6523 - mae: 0.2525 - mse: 4.6523 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 9/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2952 - mae: 0.2488 - mse: 4.2952 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 10/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.8196 - mae: 0.2536 - mse: 4.8196 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 11/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 3.7820 - mae: 0.2495 - mse: 3.7820 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 12/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.2071 - mae: 0.2498 - mse: 4.2071 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 13/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 4.8446 - mae: 0.2518 - mse: 4.8446 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 14/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - loss: 4.2003 - mae: 0.2503 - mse: 4.2003 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 15/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 3.8635 - mae: 0.2504 - mse: 3.8635 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 16/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 7s 1ms/step - loss: 4.2718 - mae: 0.2514 - mse: 4.2718 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 17/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 12s 3ms/step - loss: 3.9116 - mae: 0.2516 - mse: 3.9116 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 18/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.2007 - mae: 0.2514 - mse: 4.2007 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 19/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.7224 - mae: 0.2525 - mse: 4.7224 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 20/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.2599 - mae: 0.2532 - mse: 4.2599 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 21/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.0217 - mae: 0.2497 - mse: 4.0217 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 22/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.1109 - mae: 0.2493 - mse: 4.1109 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 23/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.3360 - mae: 0.2503 - mse: 4.3360 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 24/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.0046 - mae: 0.2506 - mse: 4.0046 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 25/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.9728 - mae: 0.2507 - mse: 4.9728 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 26/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.0919 - mae: 0.2510 - mse: 4.0919 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 27/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 5.5619 - mae: 0.2526 - mse: 5.5619 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 28/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.5558 - mae: 0.2524 - mse: 4.5558 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 29/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.6457 - mae: 0.2512 - mse: 4.6457 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 30/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.0939 - mae: 0.2513 - mse: 4.0939 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 31/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 3.8397 - mae: 0.2514 - mse: 3.8397 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 32/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.9252 - mae: 0.2512 - mse: 4.9252 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 33/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 4.3800 - mae: 0.2518 - mse: 4.3800 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 34/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.0605 - mae: 0.2490 - mse: 4.0605 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 35/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 3.8513 - mae: 0.2491 - mse: 3.8513 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 36/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 12s 3ms/step - loss: 6.0246 - mae: 0.2524 - mse: 6.0246 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 37/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.3947 - mae: 0.2515 - mse: 4.3947 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 38/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 11s 2ms/step - loss: 4.0835 - mae: 0.2521 - mse: 4.0835 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 39/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 5.0410 - mae: 0.2531 - mse: 5.0410 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 40/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 3.9194 - mae: 0.2518 - mse: 3.9194 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 41/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 4.1463 - mae: 0.2530 - mse: 4.1463 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 42/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 4.9547 - mae: 0.2519 - mse: 4.9547 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 43/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 4.2575 - mae: 0.2509 - mse: 4.2575 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 44/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 5.0428 - mae: 0.2534 - mse: 5.0428 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 45/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 4.0311 - mae: 0.2519 - mse: 4.0311 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 46/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.3028 - mae: 0.2487 - mse: 4.3028 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 47/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.8252 - mae: 0.2518 - mse: 3.8252 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 48/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 11s 2ms/step - loss: 4.2647 - mae: 0.2506 - mse: 4.2647 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 49/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.6786 - mae: 0.2522 - mse: 4.6786 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 50/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.4415 - mae: 0.2514 - mse: 4.4415 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 51/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 14s 3ms/step - loss: 4.1693 - mae: 0.2495 - mse: 4.1693 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 52/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 4.5588 - mae: 0.2531 - mse: 4.5588 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 53/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 13s 3ms/step - loss: 3.9498 - mae: 0.2519 - mse: 3.9498 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 54/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.7049 - mae: 0.2502 - mse: 3.7049 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 55/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2033 - mae: 0.2522 - mse: 4.2033 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 56/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.5472 - mae: 0.2504 - mse: 4.5472 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 57/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 6.6991 - mae: 0.2556 - mse: 6.6991 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 58/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.3301 - mae: 0.2512 - mse: 4.3301 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 59/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.1712 - mae: 0.2515 - mse: 4.1712 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 60/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.2089 - mae: 0.2505 - mse: 4.2089 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 61/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.6223 - mae: 0.2486 - mse: 3.6223 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 62/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.6720 - mae: 0.2509 - mse: 4.6720 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 63/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.0288 - mae: 0.2506 - mse: 4.0288 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 64/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 3.9666 - mae: 0.2491 - mse: 3.9666 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 65/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 5.1585 - mae: 0.2519 - mse: 5.1585 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 66/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.8275 - mae: 0.2508 - mse: 3.8275 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 67/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.4842 - mae: 0.2522 - mse: 4.4842 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 68/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2366 - mae: 0.2514 - mse: 4.2366 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 69/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.1982 - mae: 0.2504 - mse: 4.1982 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 70/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.4130 - mae: 0.2519 - mse: 4.4130 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 71/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 6.2007 - mae: 0.2531 - mse: 6.2007 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 72/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 5.6548 - mae: 0.2542 - mse: 5.6548 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 73/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.3026 - mae: 0.2522 - mse: 4.3026 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 74/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.2211 - mae: 0.2512 - mse: 4.2211 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 75/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.6417 - mae: 0.2507 - mse: 3.6417 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 76/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2151 - mae: 0.2513 - mse: 4.2151 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 77/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 3.8467 - mae: 0.2508 - mse: 3.8467 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 78/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.4701 - mae: 0.2519 - mse: 4.4701 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 79/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.7553 - mae: 0.2509 - mse: 4.7553 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 80/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.0978 - mae: 0.2510 - mse: 4.0978 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 81/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.3671 - mae: 0.2531 - mse: 4.3671 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 82/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.1284 - mae: 0.2525 - mse: 4.1284 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 83/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 5.0103 - mae: 0.2526 - mse: 5.0103 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 84/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.4599 - mae: 0.2517 - mse: 4.4599 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 85/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 3.9660 - mae: 0.2505 - mse: 3.9660 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 86/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 63s 14ms/step - loss: 3.9187 - mae: 0.2496 - mse: 3.9187 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 87/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.4917 - mae: 0.2509 - mse: 4.4917 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 88/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.5485 - mae: 0.2515 - mse: 4.5485 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 89/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2519 - mae: 0.2511 - mse: 4.2519 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 90/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.6799 - mae: 0.2510 - mse: 3.6799 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 91/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2592 - mae: 0.2526 - mse: 4.2592 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 92/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.0894 - mae: 0.2506 - mse: 4.0894 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 93/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.7937 - mae: 0.2530 - mse: 4.7937 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 94/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 5.0633 - mae: 0.2528 - mse: 5.0633 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 95/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 4.9564 - mae: 0.2526 - mse: 4.9564 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 96/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2711 - mae: 0.2506 - mse: 4.2711 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 97/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 5.3658 - mae: 0.2521 - mse: 5.3658 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 98/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 4.2318 - mae: 0.2509 - mse: 4.2318 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 99/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.6456 - mae: 0.2493 - mse: 3.6456 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638
Epoch 100/100
4588/4588 ━━━━━━━━━━━━━━━━━━━━ 9s 2ms/step - loss: 3.8340 - mae: 0.2494 - mse: 3.8340 - val_loss: 17.2638 - val_mae: 0.2590 - val_mse: 17.2638

## Prepare Test Data

In [152]:
# Merge test data with item categories
test_data = test_data.merge(items_data[['item_id', 'item_category_id']], on='item_id', how='left')

In [153]:
# Adding Month and Year columns to test data
test_data['Month'] = '11'
test_data['Year'] = '2015'

In [154]:
# Prepare 'item_categories' for test data similar to training data
test_data['item_categories'] = test_data['item_id'].map(items_data.set_index('item_id')['item_category_id'])

In [155]:
# Drop unnecessary columns from test data
test_data = test_data.drop(columns=['ID'])

In [156]:
# Ensuring all columns are in the same order as the training data
test_data = test_data[training_data.columns]

## Predict on Test Data

In [157]:
# Using the trained model to predict the sales for the test data
test_predictions = model.predict(test_data)

6694/6694 ━━━━━━━━━━━━━━━━━━━━ 6s 916us/step

## Submission

In [163]:
# Creating the submission file
submission = pd.DataFrame({
    'ID': test_data.index,
    'item_cnt_month': test_predictions.flatten()
})

In [162]:
# Saving the submission file
submission.to_csv('submission.csv', index=False)

## Conclusion

* The model has been trained on the sales data and predictions have been made for the test data.
* The results are saved in the submission file.